<section class="exp mb-3">
    <!-- institute -->
    <div>
        <a href="<%- edu.url %>">
            <b><%- edu.institute %></b>
        </a>
    </div>

    <!-- advisor -->
    <div>
        <%- edu.degree %>, <%- edu.desc %>
    </div>

    <!-- Date -->
    <div class="date">
        <small><%- edu.time %></small>
    </div>
</section>