<section class="exp mb-3">
    <!-- institute -->
    <div>
        <a href="<%- exp.url %>">
            <b><%- exp.institute %></b>
        </a>
    </div>

    <!-- advisor -->
    <div>
        Adivsed by
        <a href="<%- exp.advisorUrl %>">
            <%- exp.advisor %>
        </a>
    </div>

    <!-- Date -->
    <div class="date">
        <small><%- exp.time %></small>
    </div>
</section>